body {
	width: 100%;
	height: 100%;
}
html {
	width: 100%;
	height: 100%;
}
input {
	width: 60%;
	text-align: center;
}

/* Phone Scaling */
@media only screen and (max-width: 700px){
	h1 {
		font-size: 20px;
	}
	input {
		width: 80% !important;
	}

	.page-container {
		transform: translate(-2%, 0) !important;
	}
	.color-box {
		width: 90% !important;
	}
	.selected-box {
		width: 90% !important;
	}
	.searched-box {
		height: 700px !important;
	}
	.found-box {
		flex-direction: column;
	}

	.search-buttons {
		flex-direction: row !important;
		justify-content: center;
		width: 100%;
	}
	.head-text {
		font-size: 22px !important;
	}
}

/* Boxes/Containers */
.page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	column-gap: 10px;
	height: auto;
	transform: translate(-1%, 0);
	font-family: 'Trebuchet MS';
	/*border: 3px dashed black;*/
}
.color-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 80%;
	background-color: #adadad;
	border: 3px solid #4f4f4f;
	/*border: 3px dashed blue;*/
}
.selected-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	width: 80%;
	min-height: 200px;
	background-color: #c4c4c4;
	border: 3px solid #4f4f4f;
	/*border: 3px dashed blue;*/
}
.searched-box {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	width: 90%;
	height: 500px;
	align-items: center;
	/*border: 3px dashed red;*/
}
.found-box {
	display: flex;
	justify-content: space-between;
	/*border: 3px dashed purple;*/
}

/* Button display */
.search-buttons {
	display: flex;
	flex-direction: column;
	/*border: 3px dashed green;*/
}
.menu-buttons {
	width: 100px;
	margin: 0 5px;
}

/* Text */
.head-text {
	font-family: 'Trebuchet MS';
	font-size: 25px;
}
.text {
	font-family: 'Trebuchet MS';
	font-size: 20px;
}
#createResult {
	font-family: 'Trebuchet MS';
	color: #de0f00;
}
#searchResult {
	font-family: 'Trebuchet MS';
	color: #de0f00;
}
#updateResult {
	font-family: 'Trebuchet MS';
	color: #de0f00;
}
#timeout {
	font-family: 'Trebuchet MS';
	color: #de0f00;
	font-size: 20px;
}
